/* Universal box sizing and base reset */

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Base Style */

body {
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 4rem;
	text-align: center;
}

h2 {
	text-align: center;
}

a {
	text-decoration: none;
}

img {
	display: block;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

/* Navbar */

.navbar {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #4ecca3;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav-list {
	display: flex;
	margin-right: 2rem;
}

.nav-list a {
	display: block;
	font-size: 1.4rem;
	padding: 1rem;
}

.nav-list a:link,
.nav-list a:visited,
.nav-list a:active {
	color: #eeeeee;
}

.nav-list a:hover {
	color: #4ecca3;
	background-color: #232931;
}

/* Welcome Section */

.welcome {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #232931;
	color: #eeeeee;
	padding-top: 10rem;
}

.welcome-p {
	color: #4ecca3;
	font-size: 2rem;
	font-style: italic;
	padding-top: 0.5rem;
	text-align: center;
}

.arrow {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: 100%;
}

.arrow::after {
	content: "";
	width: 40px;
	height: 40px;
	margin: 70vh auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-right: 4px solid #4ecca3;
	border-bottom: 4px solid #4ecca3;
	transform: rotate(45deg);
	animation: 3s arrow infinite ease;
}

@keyframes arrow {

	0%,
	100% {
		top: 50px;
	}

	50% {
		top: 80px;
	}
}

.arrow a:link,
.arrow a:visited,
.arrow a:active {
	color: #4ecca3;
}

/* Projects Section */

.projects {
	background-color: #eeeeee;
	padding: 0 0 6rem 0;
}

.projects-header {
	padding: 7rem 0 6rem 0;
	color: #232931;
	font-size: 3rem;
}

.projects-container {
	margin: 0 auto;
}

.projects-grid {
	display: flex;
	flex-flow: row wrap;
}

.project-cell {
	width: 50%;
	padding: 1rem 3rem;
}

.project-tile:hover .project-name {
	color: white;
}

.project-image {
	max-width: 100%;
}

.project-name {
	background-color: darkgrey;
	text-align: center;
	font-size: 1.3rem;
	margin-bottom: 1rem;
	padding: 15px 0;
	color: black;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	max-width: 1000px;
	transition: 0.5s ease;
}

/* Contact Section */

.contact {
	background-color: #232931;
	color: #eeeeee;
	padding: 0 0 7rem 0;
}

.contact-header {
	padding: 7rem 0 0 0;
	font-size: 3.5rem;
}

.social {
	text-align: center;
	color: #4ecca3;
	font-size: 1.5rem;
	font-style: italic;
	padding-top: 0.5rem;
}

.contact-flex {
	display: flex;
	justify-content: space-evenly;
	padding: 6rem 0 6rem 0;
}

.contact-flex a:link,
.contact-flex a:visited,
.contact-flex a:active {
	color: #eeeeee;
	font-size: 2rem;
}

.contact-flex a:hover {
	color: #4ecca3;
}

.icon-links:hover i {
	transform: scale(1.1);
}

.contact-flex a>i {
	color: #eeeeee;
}

/* E-mail Form */

.form-title {
	text-align: center;
	color: #4ecca3;
	font-size: 1.5rem;
	font-style: italic;
	margin-bottom: 30px;
	padding-top: 0.5rem;
}

.form-container {
	display: flex;
	justify-content: center;
}

form {
	width: 50%;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}

fieldset {
	border: none;
}

legend {
	font-size: 1.4rem;
	margin-bottom: 10px;
}

label {
	display: block;
	padding-bottom: 0.3rem;
	color: #232931;
	font-size: 1.1rem;
}

input,
textarea {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	margin-bottom: 30px;
}

button {
	padding: 19px 39px 18px 39px;
	color: #eeeeee;
	background-color: #4ecca3;
	font-size: 1.3rem;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 10px;
}

button:hover {
	color: #232931;
}

/* Footer */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 4px solid #4ecca3;
	padding: 50px;
	background-color: #232931;
	color: #eeeeee;
	font-size: 1.3rem;
	text-align: center;
}

footer a:link,
footer a:visited,
footer a:active {
	color: #eeeeee;
}

footer a:hover {
	color: #4ecca3;
}

/* Responsiveness */

/* Tablets */
@media screen and (max-width: 1000px) {
	.welcome p {
		font-size: 1.5rem;
	}

	.welcome h1 {
		font-size: 3rem;
	}

	.projects-grid {
		flex-direction: column;
	}

	.project-cell {
		width: 100%;
	}

	.projects {
		padding-bottom: 5rem;
	}

	.projects-header {
		font-size: 2.4rem;
		padding: 6rem 0 5rem 0;
	}

	.project-name {
		font-size: 1.2rem;
	}

	.contact {
		padding-bottom: 6rem;
	}

	.contact-header {
		padding-top: 6rem;
	}

	footer {
		font-size: 1rem;
	}

	form {
		width: 75%;
	}
}

/* Large Phones */
@media screen and (max-width: 767px) {
	.nav-list {
		margin-right: 0;
	}

	.navbar {
		justify-content: center;
	}

	.welcome h1 {
		font-size: 2rem;
	}

	.welcome p {
		font-size: 1rem;
	}

	.arrow {
		font-size: 1.5rem;
	}

	.arrow::after {
		width: 20px;
		height: 20px;
	}

	.projects {
		padding-bottom: 3rem;
	}

	.project-cell {
		padding: 1rem 2rem;
	}

	.projects-header {
		font-size: 1.8rem;
		padding: 4rem 0 3rem 0;
	}

	.contact {
		padding-bottom: 4rem;
	}

	.contact-header {
		font-size: 2.8rem;
		padding-top: 4rem;
	}

	.social {
		font-size: 1.3rem;
	}

	.contact-flex {
		padding: 4rem 0 4rem 0;
	}

	.contact-flex a:link,
	.contact-flex a:visited,
	.contact-flex a:active {
		color: #eeeeee;
		font-size: 1.3rem;
	}

	.contact-flex a:hover {
		color: #4ecca3;
	}

	.form-title {
		font-size: 1.3rem;
	}

	label {
		font-size: 1rem;
	}

	button {
		font-size: 1.1rem;
	}

	footer {
		font-size: 1.3rem;
	}

	form {
		width: 100%;
	}
}

/* Small Phones */
@media screen and (max-width: 424px) {
	.projects-header {
		font-size: 1.4rem;
	}

	.project-cell {
		padding: 1rem 1rem;
	}

	.project-name {
		font-size: 1.1rem;
	}

	.contact-flex a:link,
	.contact-flex a:visited,
	.contact-flex a:active {
		font-size: 1.2rem;
	}

	footer {
		font-size: 1rem;
	}

}